@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);

@font-face {
  font-family: 'clarendonbold';
  src: url('/fonts/clarendon_bold.eot');
  src: url('/fonts/clarendon_bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/clarendon_bold.woff') format('woff'),
       url('/fonts/clarendon_bold.ttf') format('truetype'),
       url('/fonts/clarendon_bold.svg#clarendonbold') format('svg');
}

body{
	background-color:#256E0E;
	background-image: linear-gradient(to right, #071D00, #256E0E, #071D00);
	margin:50px;
	font-family:'Open Sans', sans-serif;
	font-size:16px;
}

img{
	height:100px;
	width:100px;
}

.title{
	text-align:center;
	font-family: 'Cinzel Decorative', cursive;	
}

.title h1 {
	font-size:85px;
}

.title h2{
	font-size: 40px;
}

footer {
	font-family: 'Cinzel Decorative';
	margin-top: 10px;
}

.container{
	color:#FFF
}

.container footer {
	text-align: center;
	vertical-align: middle;
	border: medium ridge #FFF;
	margin-top: 0px;
	margin-right: 35%;
	margin-bottom: 0px;
	margin-left: 35%;
	padding-bottom: 5px;
	padding-top: 5px;
	clear:left;
	
}

.media-middle{
	margin-right: 250px;
	margin-left: 250px;
	box-shadow: 8px 8px #FF9;
	margin-bottom: 50px; 
	margin-top: 45px;
}

.carousel.slide {
	max-width: 600px;
}
.item{
	width: auto;
	right: 250px;
}

.carousel-caption {
	color: #FFF;
	background-color: #333;
	padding-right: 10px;
	padding-left: 10px;
	opacity: 0.75;
}
.carousel-inner, #building-thumbnail {
	box-shadow: 5px 5px;
	color: #FF9;
}
.carousel-indicators{
	height: 20px;
}

a:hover{
	color: black;
}


*
image{
  width: 250px;
  height: 175px;
  }

div.article{
  width: 250px;
  height: 200px;
  background-color: black;
 float:left;
 margin: 5px;
  border: 1px solid black;
  position: relative
  }

h2.category{
  top: -15px;
  left: 5px;
  top: 5px;
  position: absolute;
}


div.caption{
  position: absolute;
  background: #000;
  opacity: 0.75;
  color: #FFF;
  text-align: center;
  top: 135px;
  padding-top: 10px;
  padding-bottom: 28px;
  padding-right: 15px;
  padding-left: 15px;
  width: 245px;
  height: 45px;
  margin-top: 15px;
  
}

div.rollovertext{
  display: inline-block;
  height:200px;
  width:250px;
  float:left;
  position: absolute;
  top: 0px;
  background: rgba(0,0,0,0.8);
  color:white;
  cursor: pointer;
  diplay: table-cell;
  text-align: left;
    vertical-align: middle;
  opacity:0;
}

div.rollovertext:hover{
  opacity: 1;
}

div.container2{
  border: solid 2px black;
  float: left;
  margin-top:55px;
  margin-bottom:60px;
}
